.container {
  display: flex;
  gap: 20px;
}

.section-list {
  flex: 1;  
  /* background-color: #f0f0f0; */
}

.list-items {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.list-title {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.list-item {
  padding: 10px;
  border: 1px solid #000;
  border-radius: 5px;
  cursor: pointer;
  background-color: #f0f0f0;
}

.section-details {
  flex: 2;
  background-color: #f0f0f0;
}